.bd{
    background: black;
}
.navbar{
    margin: %;
    /* background-color: indianred; */
    border-radius:0%;
    margin-top:0%;
}
.jumbotron{
    margin-bottom: 0.6%;
    background-color:
    
}
#bis{
    align-content: center;
    margin-left: 35%;
}